@import 'vars';

.Home {
  height: 100vh;

  a {
    color: black;
    text-decoration: none;
  }

  .jumboTron {
    background-image: url('./assets/images/whiteBrick.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .container {
      padding: 30vh 20vw 0;

      h1 {
        margin: 0;
      }

      button:first-child {
        margin-right: 10px;
      }
    }

    .skillsLead {
      padding: 0 20vw;
    }
  }

  button {
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 10px;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }

  button:hover, button:focus {
    box-shadow: 3px 3px 15px $slate;
  }
}

@media screen and (max-width: 600px) {
  .Home {
    .jumboTron {
      .container{
        padding: 15vh 10vw 0;
      }

      .skillsLead {
        padding: 0 10vw;
      }
    }
  }
}