@import 'vars';

.Home {
  height: 100vh;

  .jumboTron {
    background-image: url('./assets/images/whiteBrick.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .container {
      padding: 30vh 20vw 0;

      h1 {
        margin: 0;
      }

      button:first-child {
        margin-right: 10px;
      }
    }

    .skillsLead {
      padding: 0 20vw;
    }
  }

  .Pdf {
    button {
      margin: 10px 10px;
    }

    .actions {
      align-items: center;
      background-color: $gray;
      display: flex;
      padding: 50px 0 0 0;
      width: 100vw;

      p {
        flex: 1;
        text-align: center;
      }

      button {
        flex: 1;
      }
    }

    canvas {
      margin: 0 auto;
    }
  }

  button {
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 10px;
    transition: box-shadow 0.2s;
  }

  button:hover, button:focus {
    box-shadow: 3px 3px 15px $slate;
  }
}

@media screen and (max-width: 600px) {
  .Home {
    .jumboTron {
      .container{
        padding: 15vh 10vw 0;
      }

      .skillsLead {
        padding: 0 10vw;
      }
    }

    .Pdf {
      canvas {
        margin: 0 auto;
      }
    }
  }
}