@import 'vars';

.Home {
  height: 100vh;

  .jumboTron {
    background-image: url('./assets/images/whiteBrick.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .container {
      padding: 30vh 20vw 0;

      h1 {
        margin: 0;
      }

      button {
        background-color: $yellow;
        border-radius: 5px;
        padding: 10px;
        margin: 0 10px 0 0;
      }
    }

    .skillsLead {
      padding: 0 20vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .Home {
    .jumboTron {
      .container{
        padding: 15vh 10vw 0;
      }

      .skillsLead {
        padding: 0 10vw;
      }
    }
  }
}