@import 'vars';
@import 'common/Header';
@import 'Home';
@import 'Pdf';
@import 'PdfController';
@import 'Contact';

html, body {
  background-color: $slate;
  font-family: $openSansReg;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}