/*Fonts*/
  /*Aldrich*/
  @import url('https://fonts.googleapis.com/css?family=Aldrich');
  $logo: 'Aldrich', sans-serif;

/*Colors*/
  $activeLink: #f9ba32;
  $anchor: #2f3131;
  $anchorHover: #f8f1e5;
  $background: #2f3131;
  $nav: #426e86;