/*Fonts*/
  /*Aldrich*/
  @import url('https://fonts.googleapis.com/css?family=Aldrich');
  $logo: 'Aldrich', sans-serif;

/*Colors: #54 Modern & Urban from https://www.canva.com/learn/100-color-combinations/*/
  $activeLink: #f9ba32;
  $anchor: #2f3131;
  $anchorHover: #f8f1e5;
  $background: #2f3131;
  $nav: #426e86;
  $handle: #224959;