/*Fonts*/
  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');
  $openSansReg: 'Open Sans', Sans-Serif;
  $raleway: 'Raleway', Sans-Serif;

/*Colors: #54 Modern & Urban from https://www.canva.com/learn/100-color-combinations/*/
  $yellow: #f9ba32;
  $white: #f8f1e5;
  $slate: #2f3131;
  $teal: #426e86;
  $ocean: #224959;
  $gray: #d4d4d4;