@import '../vars.scss';

.Header {
  nav {
    align-items: center;
    background-color: $nav;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;

    a {
      color: $anchor;
      text-decoration: none;
    }

    a:hover {
      color: $anchorHover;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    .active{
      color: $activeLink;
    }

    .Logo {
      display: flex;
      align-items: center;
      flex: 1 1 25%;
      font-family: $logo;

      h1 {
        margin: 0;
        padding: 0 0 0 5%;
      }
    }

    .Menu {
      flex: 1 2 50%;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        li {
          margin: 0 5%;
        }
      }
    }

    .Social {
      flex: 1 1 25%;

      ul {
        display: flex;
        flex-flow: row-reverse nowrap;

        li {
          margin: 0 5%;
        }
      }
    }
  }
}