.Header {
  nav {
    align-items: center;
    background-color: #426e86;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;

    a {
      color: #2f3131;
      text-decoration: none;
    }

    a:hover {
      color: #f8f1e5;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    .active{
      color: #f9ba32;
    }

    .Logo {
      display: flex;
      align-items: center;
      flex: 1 1 25%;
      font-family: 'Aldrich', sans-serif;

      h1 {
        margin: 0;
        padding: 0 0 0 5%;
      }
    }

    .Menu {
      flex: 1 2 50%;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        li {
          margin: 0 5%;
        }
      }
    }

    .Social {
      flex: 1 1 25%;

      ul {
        display: flex;
        flex-flow: row-reverse nowrap;

        li {
          margin: 0 5%;
        }
      }
    }
  }
}