@import '../vars';

.Nav {
  align-items: center;
  background-color: $slate;
  display: flex;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: max-height 0.4s;
  width: 100%;
  z-index: 5;

  a {
    color: $white;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: $yellow;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      text-align: center;
      list-style: none;
    }
  }

  .active {
    color: $yellow;
  }

  .Logo {
    flex: 1 1 25%;

    h1 {
      margin: 0;
      padding: 5px;
    }
  }

  .Menu {
    flex: 1 2 50%;

    li {
      flex: auto;
    }
  }

  .Social {
    flex: 1 1 25%;

    ul {
      flex-direction: row-reverse;

      li {
        padding: 5px;
      }
    }
  }
}

.Handle {
  display: none;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .Nav {
    background-color: $slate;
    display: block;
    height: inherit;
    max-height: 0;
    position: aboslute;
    top: 50px;

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $white;
        padding: 5px;
      }
    }

    .Logo {
      display: none;
    }

    .Menu {
      ul {
        li:first-of-type {
          border-top: 1px solid $white;
          padding-top: 5px;
        }
      }
    }

    .Social {
      ul {
        li:last-of-type {
          border-bottom: none;
          padding-bottom: 5px;
        }
      }
    }
  }

  .Handle {
    align-items: center;
    background-color: $slate;
    border: none;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: space-between;
    outline: inherit;
    padding: 10px;
    position: fixed;
    width: 100%;

    h3 {
      color: $white;
      margin: 0;
      padding: 0;
    }

    svg {
      color: $white;
    }
  }

  .Showing {
    max-height: 20em;
  }
}