@import '../vars';

.Nav {
  align-items: center;
  background-color: $nav;
  display: flex;
  overflow: hidden;
  transition: max-height 0.6s;

  a {
    color: $anchor;
    text-decoration: none;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      text-align: center;
      list-style: none;
    }
  }

  .Logo {
    flex: 1 1 25%;

    h1 {
      margin: 0;
      padding: 5px;
    }
  }

  .Menu {
    flex: 1 2 50%;

    li {
      flex: auto;
    }
  }

  .Social {
    flex: 1 1 25%;

    ul {
      flex-direction: row-reverse;

      li {
        padding: 5px;
      }
    }
  }
}

.Handle {
  display: none;
}

@media screen and (max-width: 600px) {
  .Nav {
    display: block;
    max-height: 0;

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $anchor;
        padding: 5px;
      }
    }

    .Logo {
      display: none;
    }

    .Menu {
      ul {
        li:first-of-type {
          padding-top: 5px;
        }
      }
    }

    .Social {
      ul {
        li:last-of-type {
          border-bottom: none;
          padding-bottom: 5px;
        }
      }
    }
  }

  .Handle {
    align-items: center;
    background-color: $handle;
    border: none;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: space-between;
    outline: inherit;
    padding: 10px;
    width: 100%;

    h3 {
      margin: 0;
      padding: 0;
    }
  }

  .Showing {
    max-height: 20em;
  }
}